*.gem
.bundle
.byebug_history
.DS_Store
.env*
/node_modules
/public/packs
/public/packs-test
bundled
coverage
pkg
tmp


# data
/db/dynamodb_local_latest

# terraform
/infra/.terraform
/infra/terraform.tfstate*
